<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <style>
      body {
        margin: 0;
      }

      h1 {
        font-family: sans-serif;
      }

      header {
        background-color: darkblue;
        display: flex;
        justify-content: space-between;
        padding: 1rem 5vw;
      }

      a {
        color: white;
      }

      nav {
        margin: 0;
      }

      nav a {
        margin: 0 0 0 1rem;
      }

      main,
      footer {
        margin: 4rem auto;
        max-width: 60ch;
        width: 90vw;
      }

      footer {
        margin-bottom: 1rem;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <header>
      <a href="/" rel="home">My 11ty Site</a>
      <nav>
        {% for item in nav %}
        <a href="{{ item.path }}">{{ item.label }}</a>
        {% endfor %}
      </nav>
    </header>
    <main>
      {{ content }}
    </main>

    <footer>What a great site!</footer>
  </body>
</html>
